%li{:class => "job-post-listing"}
  %div.single-post-container
    %div.job-side-container
      %div{:class => "inline-block job-title-container inline-block left-img"}
        = image_tag @company.avatar.url    
      %div{:class => "job-title-text"}
        %h5 @company.name
